<div class="wrapper">
    <nb-card>
      <nb-card-body><fieldset data-role="controlgroup">
        <legend>Select Attributes</legend>
        <input type="checkbox" id="tag1" name="tag1" value="Name">
        <label for="tag1"> Name </label><br>
        <input type="checkbox" id="tag2" name="tag2" value="Phone">
        <label for="tag2"> Phone </label><br>
        <input type="checkbox" id="tag3" name="tag3" value="Email">
        <label for="tag3"> Email </label><br>
        <input type="checkbox" id="tag4" name="tag4" value="Summary">
        <label for="tag4"> Summary </label><br>
        <input type="checkbox" id="tag5" name="tag5" value="Education">
        <label for="tag5"> Education </label><br>
        <input type="checkbox" id="tag6" name="tag6" value="Certification">
        <label for="tag6"> Certification </label><br>
        <input type="checkbox" id="tag7" name="tag7" value="Skills">
        <label for="tag7"> Skills </label><br>
        <input type="checkbox" id="tag8" name="tag8" value="Experience">
        <label for="tag8"> Experience</label><br>
        <button type="button">Save</button></fieldset></nb-card-body>
    </nb-card>
  </div>
